.botones {
    position: absolute;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top:15%;
  }
  
  #boton_reiniciar {
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 70px;
    font-family: Nokia Cellphone FC;
    color:black;
    font-size: 20px;
    border-bottom: 5px solid #173814;
    justify-content: center;
    background: linear-gradient(#469e3f, #255b20);
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
  }
  
  #boton_reiniciar:active {
    border: none;
    border-bottom: 2px solid steelblue;
    box-shadow: 0px 1px 5px grey;
    background: linear-gradient(#255b20, #469e3f);
    color: #fff;
  }
  
  
  
  #boton_inicio {
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 70px;
    font-family: Nokia Cellphone FC;
    color: red;
    font-size: 20px;
    border-bottom: 5px solid #eddc1c;
    justify-content: center;
    background: linear-gradient(#f3e762, #c2b30d);
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
  }
  
  #boton_inicio:active {
    border: none;
    border-bottom: 2px solid steelblue;
    box-shadow: 0px 1px 5px grey;
    background: linear-gradient(#e0cc12, #f7f312);
    color: rgb(5, 5, 5);
  }
  
  #add_coder {
    display: flex;
    
    font-family: Nokia Cellphone FC;
    color:#ffffff;
    margin-top: 8%;
    width: 11%;
    height: 46px;
    border-radius: 15px;
    border-bottom: 5px solid #5e116d;
    justify-content: center;
    background: linear-gradient(#751e86, #751e86);
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;
    text-align: center;
    line-height: 21px;
    font-weight: bold;
  
  }
  #newCoder {
    display: flex;
    margin-top: 15%;
    font-family: Nokia Cellphone FC;
    margin-top: 8%;
    height: 45px;
    border-radius: 15px;
  }