@import url(./reset.css);
@import url(./main.css);

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.coders {
  width: 100%;
  margin-top: 195px;
  display: flex;
  justify-content: space-around;
  font-family: verdana;
  font-size: 24px;
  position: absolute;
}
