@import url(./reset.css);
@import url(./main.css);
@font-face {
  font-family: PAC-FONT;
  format: ("truetype");
  src: url(../fonts/PAC-FONT.TTF);
}

@font-face {
  font-family: Nokia Cellphone FC;
  format: ("truetype");
  src: url(../fonts/nokiafc22.ttf);
}

body {
  background-color: black;
}

header {
  margin-top: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: PAC-FONT;
  color: yellow;
  font-size: 50px;
}

.botones {
  position: absolute;
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#boton_reiniciar {
  display: block;
  margin: 0 auto;
  width: 35%;
  height: 70px;
  font-family: Nokia Cellphone FC;
  color:black;
  font-size: 20px;
  border-bottom: 5px solid #173814;
  justify-content: center;
  background: linear-gradient(#469e3f, #255b20);
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#boton_reiniciar:active {
  border: none;
  border-bottom: 2px solid steelblue;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#255b20, #469e3f);
  color: #fff;
}

.coders {
  width: 100%;
  margin-top: 195px;
  display: flex;
  justify-content: space-around;
  font-family: verdana;
  font-size: 24px;
  position: absolute;
}

#boton_inicio {
  display: block;
  margin: 0 auto;
  width: 35%;
  height: 70px;
  font-family: Nokia Cellphone FC;
  color: red;
  font-size: 20px;
  border-bottom: 5px solid #eddc1c;
  justify-content: center;
  background: linear-gradient(#f3e762, #c2b30d);
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#boton_inicio:active {
  border: none;
  border-bottom: 2px solid steelblue;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#e0cc12, #f7f312);
  color: rgb(5, 5, 5);
}

#add_coder {
  display: flex;
  margin-top: 15%;
  font-family: Nokia Cellphone FC;
}

#newCoder {
  display: flex;
  margin-top: 15%;
  font-family: Nokia Cellphone FC;
}

.lista_muertos {
  font-family: Nokia Cellphone FC;
  font-size: 1em;
  line-height: 42px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #bd280d;
  padding-top: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1em;
  width: 37%;
}

.lista_vivos {
  font-family: Nokia Cellphone FC;
  font-size: 1em;
  line-height: 42px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding-top: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1em;
  width: 37%;
}

.fantasma_vivo {
  height: 100px;
  margin-top: -80px;
  margin-bottom: 10px;
}

.fantasma_muerto {
  height: 78px;
  margin-top: -73px;
  margin-bottom: 10px;
}

footer {
  position: absolute;
  display: flex;
  bottom: 0;
}
#Pcman {
  width: 30%;
  height: 30%;
  position: relative;
  cursor: pointer;
}
#Gosht {
  width: 20%;
  height: 20%;
  position: relative;
  cursor: pointer;
  margin-top: 3.9vh;
}
