@import url(./reset.css);
@import url(./main.css);

body {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.coders {
  width: 100%;
  margin-top: 195px;
  display: flex;
  justify-content: space-around;
  font-family: verdana;
  font-size: 24px;
  position: absolute;
}

#boton_inicio{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.lista_muertos{
     
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    
    .lista_muertos {
        padding: 15px;
        /* margin-bottom: 24px; */
        border: 1px solid transparent;
        border-radius: 4px;
        height: 10%;
        width: 23%;
        margin-left: 40%;
    }
